[submodule "batman-adv-15"]
	path = batman-adv-15
	url = https://github.com/kaleng/batman-adv-15
[submodule "batman-adv-14"]
	path = batman-adv-14
	url = https://github.com/kaleng/batman-adv-14
[submodule "fastd"]
	path = fastd
	url = https://github.com/kaleng/fastd
[submodule "freifunk.supernode"]
	path = freifunk.supernode
	url = https://github.com/kaleng/freifunk.supernode
[submodule "kbu.backbone"]
	path = kbu.backbone
	url = https://github.com/kaleng/kbu.backbone
