{% set network_v4 = ff_server.ipv4 | ipcalc %}
{% set network_v6 = ff_server.ipv6 | ipcalc %}
{% set ff_network_v4 = ff_network.ipv4 | ipcalc %}

auto bat0
iface bat0 inet static
  address {{ network_v4.host_min }}
  netmask {{ ff_network_v4.netmask }}
  pre-up  modprobe batman-adv && tunctl -t {{ fastd_interface }} && batctl if add {{ fastd_interface }}
  post-up ip rule add iif bat0 table freifunk
  pre-down ip rule del iif bat0 table freifunk

iface bat0 inet6 static
  address {{ network_v6.host_min }}
  netmask 64
  # Routes
  # Note: route del not needed - shutting down the interfaces removes routes anyway
  post-up ip -6 route add {{ ff_network.ipv6 }} dev bat0
  post-up ip -6 route add {{ ff_network.ipv6 }} dev bat0 table freifunk

  # Rules (iif: routed traffic, from: traffic from the supernode)
  post-up ip -6 rule add iif bat0 table freifunk
  post-up ip -6 rule add from {{ ff_network.ipv6 }} table freifunk
  pre-down ip -6 rule del iif bat0 table freifunk
  pre-down ip -6 rule del from {{ ff_network.ipv6 }} table freifunk

# For anycast DNS
auto bat0:0
iface bat0:0 inet static
  address {{ ff_network.ipv4 | ipadd(2) }}
  netmask {{ ff_network_v4.netmask }}
