#!/bin/bash
NODE_ID=${PEER_NAME:0:12}
/usr/bin/curl \
  --user "{{ supernode_web_service_auth }}" \
  -X POST \
  -d viewpoint={{ inventory_hostname }} \
  -d mac=$NODE_ID \
  -d vpn_sw=fastd \
  -d vpn_status=up \
  -d ip=$PEER_ADDRESS \
  "{{ supernode_web_service_url }}"
