#!/bin/sh

/sbin/ip link set dev {{ fastd_interface }} address {{ ff_server.iface_mac }}
/sbin/ip link set dev {{ fastd_interface }} up

/usr/sbin/batctl if add {{ fastd_interface }}
/usr/sbin/batctl it 5000
/usr/sbin/batctl gw_mode server 100MBit/100MBit

/sbin/ip rule show | grep 'from {{ ff_network.ipv4 }} lookup freifunk'
if [ $? -eq 1 ]; then
  /sbin/ip rule add from {{ ff_network.ipv4 }} table freifunk
fi
/sbin/ip route add {{ ff_network.ipv4 }} dev bat0 table freifunk
/sbin/ip route flush cache
