interface bat0 {
  AdvSendAdvert on;
  AdvHomeAgentFlag off;
  MinRtrAdvInterval 10;
  MaxRtrAdvInterval 30;
  AdvOtherConfigFlag on;
  AdvSourceLLAddress off;
  AdvLinkMTU 1350; #1442 - fastd - batman-adv - See wiki for details

  prefix {{ ff_server.ipv6 }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };
  prefix {{ ff_network.ipv6_ula }} {
    AdvOnLink off;
    AdvAutonomous off;
    AdvRouterAddr on;
  };
};
