{% set node         = ff_supernodes[inventory_hostname] %}
{% set network_ipv4 = node.ipv4 | ipcalc %}
{% set network_ipv6 = node.ipv6 | ipcalc %}
#!/bin/sh
/sbin/ip addr add {{ network_ipv4.network | ipadd(node.id) }}/{{ network_ipv4.subnet }} dev $INTERFACE
/sbin/ip link set dev $INTERFACE up

# IPv4
## Default-Route for Mesh-clients
/sbin/ip route add default dev $INTERFACE table freifunk

# IPv6
## VPN-Addresses (local)
/sbin/ip -6 addr add {{ "fdd3:5d16:b5dd:3::" | ipadd(node.id + 20) }}/64 dev $INTERFACE
## Public-IP as announced in backbone
/sbin/ip -6 addr add {{ network_ipv6.host_min }} dev $INTERFACE
## Default-Route for mesh clients
/sbin/ip -6 route add default dev $INTERFACE table freifunk

/etc/init.d/nagios-nrpe-server restart
