{% set node = ff_supernode[inventory_hostname] %}
Subnet={{ ff_backbone_network.ipv4 | ipadd(node.id + 20) }}/32
Subnet={{ node.ipv4 }}
Subnet={{ ff_backbone_network.ipv6 | ipadd(node.id + 24) }}/128
Subnet={{ node.ipv6 }}
