server:
    auto-trust-anchor-file: "/var/lib/unbound/root.key"
{% for entry in ff_anycast_dns.interface %}
    interface: {{ entry }}
{% endfor %}
{% for entry in ff_anycast_dns.access_control %}
    access-control: {{ entry }} allow
{% endfor %}
    verbosity: 1

{% for zone, addresses in ff_forwarders.iteritems() %}
forward-zone:
    name: "{{zone}}"
    {% for address in addresses %}forward-addr: {{ address }}
    {% endfor %}

{% endfor %}
